
.h1{
    color: rgb(5, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 40px;
}
input{
    border: none;
    background-color:whitesmoke;
    border-bottom: 3px solid black;
    width: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: medium;
}
form{
    margin-top: 5%;
}
.div{
   background-color: bisque;
}
button{
    margin-top: 3%;
    width: 50%;
    background-color:gray;
    color: white;
    border: 2px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    border-color:black;
    border-style:inset;
}
.html{
    height: 200px;
    height: 100%;
}
.alert1 {
    padding: 20px;
    background-color:yellowgreen;
    color: black;
    width: 40%;
    height: 22px;
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-top: -27%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    margin-right: 2%;

}
h5{
    margin-top: 0.8%;
}
  




.alert2 {
    padding: 20px;
    background-color:olive;
    color: black;
    width: 40%;
    height: 22px;
    float: right;
    margin-top: -20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    margin-right: 2%;
    border-radius: 10px 10px 10px 10px;
}  

   

   

.alert3 {
    padding: 20px;
    background-color: #2196F3;
    color: black;
    width: 40%;
    height: 25px;
    float: right;
    margin-top: -12%;
    margin-right: 2%;
   
    border-radius: 10px 10px 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
}  


    color: black;

.alert {
    padding: 20px;
    background-color:olive;
    color: black;
    width: 40%;
    height: 22px;
    float: right;
    margin-top:-11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 2%;
    border-radius: 10px 10px 10px 10px;
   
}  
.ids{
    background-color: aquamarine;
    margin-top: -5px;
}
.idd{
    background-color: bisque;
}


